<!DOCTYPE html>
<html>
<head>
<title>My Site - Blog - {{ post.title }}</title>
</head>
<body>
<article>
<h1>{{ post.title }}</h1>
<a href="{% url 'blog_edit' post.title %}">Edit</a>
{{ post.text|linebreaks }}
</article>
</body>
</html>
